<%- include('masterpage/header'); -%>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNowjtCQ9EWZSzGJErzmLUAahLSuioKog&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <div id="map"></div>
    <script>
        let map;
        function initMap() {
        var uluru = {lat: 13.893892, lng: 100.516281};
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 15, center: uluru});
        var marker = new google.maps.Marker({position: uluru, map: map});
        }
  </script>
<%- include('masterpage/footer'); -%>