<%- include('masterpage/header'); -%>

  <div class="row">
    <div class="col-md-12">
        <p>welcome</p>
    </div>
</div> 
<div style="height: 200px;"></div>
<%- include('masterpage/footer'); -%>