<%- include('masterpage/header'); -%>
   <div class="container " >
      <form class="add-player-form" action="" method="post"  >
        <div class="form-row">
          <div class="col-5">
            <input type="text" class="form-control" name="sh" id="sh" placeholder="">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary mb-2">ค้นหา</button>

          </div>
        </div>
      </form>
      <%= response %> 
   </div>
   <div style="height: 200px;"></div>
<%- include('masterpage/footer'); -%>