<%- include('masterpage/header'); -%>

  <div class="row">
    <div class="col-md-12">
        <%= reshead %> 
    </div>
    <div class="col-md-12">
    <P>ผลลัพ</P> <%= resul %> 
  </div>
</div> 
<div style="height: 200px;"></div>
<%- include('masterpage/footer'); -%>