<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jenosize Test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">

        <style >
          #map {
              height: 880px;
          }
          html, body { 
             height: 100%; /* ให้ html และ body สูงเต็มจอภาพไว้ก่อน */
             margin: 0;
             padding: 0;
          }
          footer {
             height: 60px; /* ความสูงของ footer */
             display: block;
             text-align: center;
             margin: 5px;
             background-color:gainsboro;
             bottom: 0;
          }
          </style>

    </head>
    <body style="height:600px">
        <div class="page-wrapper">
            <nav class="navbar navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/xyz">หาค่า X,Y,Z</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/findrestaur">ค้นหาข้อมูลร้านอาหาร</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/map">Google Maps</a>
                  </li>
                </ul>
              
              </nav>
              <div class="container-fluid"></div>